/* intuitivnejší box-sizing */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	#f5f5f5					šedé pozadí stránky
	#629fe0					modrá čárka
	Jedeme retro černobíle (až na tu modrou), dnes další barvy nepotřebujeme.

	FONTY
	Merriweather		základní font na stránce
	Raleway					nadpisy a menu
	Oba fonty jsou dostupné na Google Fonts.
*/

body {
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
	font-size: 16px;
	line-height: 1.6;
	font-family: 'Merriweather', serif;
}

img{
	width: 100%;
}

.kontejner{
	background-color: #FFFFFF;
	box-shadow: #808080 1px 1px 22px;
	padding-bottom: 15px;
}

header{
	width: 100%;
	height: 650px;
	background: linear-gradient(45deg, rgba(66, 66, 66, 0.473), rgba(59, 59, 59, 0.425)), url(images/island-hlavicka.jpg);
	
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #ffffff;
}

h1{
	margin: 0;
	padding: 50px;
	font-family: 'Raleway', sans-serif;
	font-size: 45px;
}

header p{
	margin: 0;
	padding: 0 40px;
	font-weight: bold;
}

.jana{
	margin-top: 50px;
	font-weight: normal;
	font-style: italic;
}

.jana::before{
	content: "";
	display: block;
	background-color: #ffffff;
	height: 2px;
	width: 100px;
	margin: 10px auto;
}

.menu{
	list-style-type: none;
	margin: 0 30px 30px 30px;
	padding: 30px 0;
	text-align: center;
}

.menu a{
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	color: rgb(184, 183, 183);
	margin-bottom: 10px;
	border-bottom: rgb(238, 238, 238) solid 1px;
}

.uvod p{
	padding: 0 30px;
}

.uvod img{
	margin-top: 25px;
}

.title{
	padding: 0;
	margin: 0;
	font-size: 10px;
	text-align: center;
	color: rgb(184, 183, 183);
}

.title a{
	color: rgb(184, 183, 183);
}

h2{
	margin: 50px 0;
	padding: 0 30px;
	position: relative;
}

h2::after{
	content: "";
	display: block;
	background-color: #629fe0;
	width: 50px;
	height: 3px;
	margin-top: 25px;
	position: absolute;
	left: 0;
}

.proc p{
	padding: 0 30px;
}

.proc img{
	margin-top: 25px;
}

.co p{
	padding: 0 30px;
}

.foto1, .foto2, .foto3, .foto4, .foto5, .foto6, .foto7, .foto8, .foto9{
	margin-bottom: 20px;
}

footer{
	padding: 50px 30px 15px 30px;
	font-size: 12px;
	color: rgb(184, 183, 183);
}

footer a{
	color: rgb(184, 183, 183);
}

/* tablet */

@media screen and (min-width: 540px){
	.kontejner{
		padding-top: 30px;
	}

	header{
		height: 400px;
	}
	.menu{
		display: flex;
		justify-content: space-around;
		padding: 0 10px;
		border-top: rgb(238, 238, 238) solid 1px;
		border-bottom: rgb(238, 238, 238) solid 1px;
	}

	.menu a{
		flex: 0 0 calc((100% - 50px) / 4);
		margin: 0;
		border: none;
		padding: 5px 0;
		}
	
	.foto--uvod, .foto--proc, .foto--co{
		position: relative;
	}

	.uvod .title, .proc .title, .co .title, .foto--uvod .title{
		color: #ffffff;
		font-size: 14px;
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 20px 10px;
	}

	.uvod .title a, .proc .title a, .co .title a, .foto--uvod .title a{
		color: #ffffff;
		font-size: 14px;
	}

	.fotky{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.foto{
		position: relative;
		margin: 0;
		overflow: hidden;
	}

	.desc{
		position: absolute;
		/*display: none;*/
		top: 100%;
		left: 0;
		background-color: #3030308f;
		color:#ffffff;
		width: 100%;
		padding: 10px 0;
		transition: transform 0.5s;
	}

	#foto1, #foto2, #foto3, #foto4, #foto5, #foto6, #foto7, #foto8, #foto9{
		height: 100%;
		width: 100%;
		transition: transform 0.5s;
	}

	.foto:hover .title{ 
		transform: translateY(-100%);
	}

	.foto:hover #foto1, .foto:hover #foto2, .foto:hover #foto3, .foto:hover #foto4, .foto:hover #foto5, .foto:hover #foto6, .foto:hover #foto7, .foto:hover #foto8, .foto:hover #foto9{
		transform: scale(1.1);
	}
	}

/* PC */	

@media screen and (min-width: 960px){
	.kontejner{
		width: 950px;
		margin: -50px auto;
		padding-bottom: 0;
	}

	.fotky{
		grid-template-columns: 1fr 1fr 1fr;
	}

	header{
		height: 650px;
		font-size: 25px;
		padding: 0 250px;
	}

	header h1{
		font-size: 90px;
	}

	.uvod-menu{
		display: flex;
		flex-wrap: wrap;
	}

	.menu{
		flex-direction: column;
		border: none;
		height: 50%;
		margin-top: 20px;
		flex: 0 1 20%;
	}

	.uvod{
		flex: 1 1 45%;
		padding-right: 25px;
		margin-bottom: 25px;
	}

	.foto--uvod{
		flex: 1 1 100%;
	}
	.menu a{
		text-align: left;
		font-size: 15px;
		border-bottom: rgb(238, 238, 238) solid 1px;
	}

	h2::after{
		width: 80px;
		height: 4px;
	}

	.proc p{
		padding-right: 250px;
		padding-left: 60px;
	}

	.proc h2{
		padding-left: 60px;
	}

	.co p, .co h2 {
		padding-left: 250px;
		padding-right: 60px;
	}

	.co h2::after{
		left: 210px;
	}

	footer{
		margin-left: 17%;
		margin-top: 50px;
		font-weight: bold;
	}
}